header
{
    background-image: url(../Imagenes/nav.jpg);
    height: 200px;
    width: 1250px;
    border-radius: 70px; 
}
body
{
    background-image: url(../Imagenes/back.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 102%;
    color: rgb(255, 255, 255);
    text-align: justify;
}

header nav ul li
{
    display: inline-block;
    font-family: 'Courier New', Courier, monospace
}
header nav ul li a
{
    padding: 0em 4em 0em 4em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
}
a
{
    text-decoration: none;
}
#initp
{
    font-size: 40px;
}
h1
{
    text-align: center;
    font-size:  5em;
}
#init
{
    color: rgb(255, 255, 255);
    font-style: oblique;
    width: 40%;
    margin: auto;
}
#red{float: center;
    padding: 4em 6.5em 0em 6.8em;
     }

#img{height:30em;
width:20em;
border-radius: 10%;
}

p{font-size: 18px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(255, 255, 255);
text-align: left;
-webkit-text-stroke: 0.5px rgb(0, 0, 0); 
 }

h2{text-align: center;
color: rgb(255, 82, 82);
-webkit-text-stroke: 0.5px rgb(0, 0, 0)
}
table{margin-top: 5em;}

th li{margin: 0px 17px;}


